.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___left {
  align-items: flex-start;
}

.fighter-preview___root .info-wrapper {
  display: flex;
}
.fighter-preview___root .info-item {
  color: #fff;
}